footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 0 5%;
    width: 90%;
    height: 50px;
    background-color: #232323;
    z-index: 9999;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: .5s;
}

.social:hover {
    cursor: pointer;
    border-top: solid 1px #ddd;
}

.social img {
    margin: auto;
    width: 30px;
    filter: invert();
}

.social a {
    color: #ddd;
    font-size: 18px;
    margin: auto;
    text-decoration: none;
}


/* RESPONSIVE */

@media(max-width: 550px) {
    footer {
        display: flex;
        width: 90%;
        justify-content: center;
    }
    .social {
        margin: auto;
    }
    .social img {
        margin: auto;
    }
    .social a {
        display: none;
    }
}